/* Whiskers and Wag Tails - part 2 CSS Stylesheet*/

/* CSS reset*/
*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

/*default styles*/
body {
  font-family: 'Roboto', sans-serif;  /*font matches the proposal*/
  font-size: 16px; 
  line-height: 1.5;
  color: #4CAF50;  
  background-color: #F5F5DC;  
  

}