/* Whiskers and Wag Tails - part 2 CSS Stylesheet*/

/* CSS reset*/
*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

/*default styles*/
body {
  font-family: 'Roboto', sans-serif;  /*font matches the proposal*/
  font-size: 16px; 
  line-height: 1.5;
  color: #4CAF50;  
  background-color: #F5F5DC;  
}

/*Typograph styles*/
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #4CAF50;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #4CAF50;
  margin-bottom: 0.75rem;

}

p{
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 0.07em;
  margin-bottom: 1rem;
}

a {
  color: #4CAF50;
  text-decoration: none;
}

/*Layout structure*/
header{
  background-color: #FFFFFF;
  padding: 0.5rem 0;
  border-bottom: 2px solid #4CAF50 ; /* the three elements inside stands for width, style, color*/
  position: sticky;/*stays in the same position*/
  top: 0;
  left: 0;
  right: 0px;
  z-index: 1000; /*ensure it stays above other content*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /*Subtle shadow*/
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;  /* use flebox for alignment*/
  flex-direction: row;
  justify-content: space-between; /*space between logo, search and nav*/
  align-items: center; /* vertically center items*/
  
}

.left-section {
  margin-right: 10px;
  flex-direction: start;
  margin-left: 0;
  padding-left: 0;
}

.logo img {
  vertical-align: middle;
  max-width: 150px;
  margin-left: 0;
  padding-left: 0;
}

/* syling the search button */
.middle-section{
  display: flex;
  margin: 0 1rem;
  max-width: 700px;
  align-items: center;

}

.search-container {
  display: flex;
  align-items: center;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  background-color: #FFFFFF;
  overflow: hidden; /*keeps everything inside*/
  height: 36px;
}

.search-bar{
  flex: 1;
  height: 36px;
  padding-left: 0.5rem;
  font-size: 1rem;
  border-radius: 0;
  box-shadow: none;
  width: 410px;
  border: none;
  outline: none;
}

.search-bar::placeholder{
  font-family: Roboto,sans-serif;
  font-size: 1rem;
}

.search-button,
.voice-search-button{
  height: 36px;
  width: 36px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #F5F5DC;
}


.search-button img, .voice-search-button img {
  max-height: 20px;
}

.search-button .tooltip, .voice-search-button .tooltip {
  font-family: Roboto,sans-serif;
  position: absolute;
  background-color: #9E9E9E;
  color: #FFFFFF;
  padding: 4px 6px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip{
   opacity: 1;
}

.search-icon,
.voice-search-icon{
  height: 20px;
}

 nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
 }

 nav ul li { /* this a descendant sectore because <li> that's inside a <ul> which is inside a <nav>*/
  margin: 0 0.2rem;
 }

 main{
  max-width: 1200px;
  margin: 0 auto;
  padding: 140px 1rem 1rem;
 }

 footer{
  text-align: center;
  padding: 1rem;
  background-color: #4CAF50;
  color: #FFFFFF;
 }

/*Decoration and colour*/
.hero{
   border: 1px solid #4CAF50 ; /* width, style and color*/
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /*horizontal position, vertical position, blur and color*/
  }

  nav ul li a { /*descendant selector*/
   padding: 0.5rem 1rem;
   font-weight: 500;
   border-radius: 5px;
  }

  footer {
    border-top: 2px solid #FFFFFF;
  }

